<section class="panel panel-default mt15px">
  <header class="panel-heading">
    <h3 class="panel-title">Direct Link</h3>
  </header>
  <div class="panel-body flex align-items-center">
    <p id="ark_url" class="flex-grow-1 mr15px mb0"></p>
    <button type="button" id="copy_ark_url" class="btn btn-primary clip-btn" data-clipboard-target="#ark_url" aria-label="<%= I18n.t("actions.cilpboard_cite_item") %>"><%= I18n.t("actions.clipboard") %></button>
  </div>
  <script>
    $("#ark_url").text("https://pid.uba.uva.nl/ark:/88238/b2" + $(".identifier > .component").text().trim().replace("UBA",""));
  </script>
</section>
