<h1>Help</h1>

<div id="manual">
	<h3>For more information download the Instruction manual (English) / Handleiding (Nederlands) underneath.</h3>
	<button><a target="_blank" href="/assets/Instruction%20manual.html">Instruction manual (EN)</a></button> <button><a target="_blank" href="/assets/Handleiding.html">Handleiding (NL)</a></button>
</div>
<br/>
<div>
  <ul class="list-unstyled">
    <li><a href="#search" class="underline">How do I search for materials?</a></li>
    <li><a href="#advanced" class="underline">What should I know about phrasing my searches?</a></li>
    <li><a href="#filter" class="underline">How can I filter my search results?</a></li>
    <li><a href="#navigate" class="underline">How do I navigate this website?</a></li>
    <li><a href="#coverage" class="underline">Does this website include all the materials of the University of Amsterdam? What if I cannot find what I am looking for?</a></li>
    <li><a href="#glossary" class="underline">Glossary of terms and symbols</a></li>
    <li><a href="#questions" class="underline">What if I have questions? Where should I go for help</a></li>
  </ul>
</div>

<div id="search">
	<h2>How do I search for materials?</h2>
  <ul>
    <li>Begin a basic search by entering your search terms in the search bar. You may limit the search by searchable fields, record type, and date.</li>
    <li>The searchable fields are:
      <ul>
        <li>Keyword: Searches the entire text of the collection description.</li>
        <li>Title: Searches titles of the materials described, including records, series, files within collections and archives. If you know the precise title of the material you’re looking for, searching by title can be very helpful.</li>
        <li>Creator: Searches names of the persons, families, and organizations who created the collections or archives.</li>
        <li>Subject: Searches by subject headings assigned to materials by archivists, e.g. "Amsterdam".</li>
        <li>Notes: Searches are limited to the fields with annotations.</li>
        <li>Identifier: Searches by identifier, which is a unique number by which materials are tracked and requested. This only works for collection numbers (starting with UBA…).</li>
      </ul>
    </li>
    <li>Record types allow you to customize the type of records you want a search to return:
      <ul>
        <li>Limit to collections will only return records for archives (fonds) and collections, rather than people, subjects, series, and files and items.</li>
	<li>Limit to digital materials will only return records, folders or items that contain digital materials.</li> 
      </ul>
    </li>
    <li>You may select a date range to limit the search results chronologically. Searching by date is approximate, and results may fall outside the date range you enter.</li>
    <li>You may construct a more complex search by selecting the + icon and adding additional search parameters.</li>
  </ul>
</div>

<div id="advanced">
	<h2>What should I know about phrasing my searches?</h2>
  <ul>
    <li>Searches are not case sensitive.</li>
    <li>You may search for phrases by including quotation marks (e.g. “Artis Bibliotheek”)</li>
    <li>By default, searches with three or fewer search terms return results containing all of the search terms. Searches with four or more search terms return results containing most of the search terms. You may add OR and NOT to change this behavior (e.g. Stiles OR Morse or art NOT British).</li>
    <li>You may add a tilde (~) to search for search terms within a specified number of words of one another (e.g. “kaarten Azië”~5 will return results where the term "kaarten" occurs within 5 words of the term Azië).</li>
    <li>Wildcard symbols ? and * help return a greater number of relevant results by searching for variant spellings and forms of search terms simultaneously.
      <ul>
        <li>? replaces a single letter in a search term (e.g. searching M?ller will return both Muller and Miller, and searching Jan? will return both Jans and Janz but <strong>not</strong> Jansen).</li>
        <li>* replaces any number of letters at the end of a search term (e.g. searching koop* will return koopman, koophandel and koopvaardij). </li>
        <li>? and * may <strong>not</strong> be used as the first character of a word. </li>
        <li>To use a wildcard in combination with another search term (e.g. wom?n suffrage), use the + icon to create another row and enter each search term in a separate row.</li>
      </ul>
    </li>
  </ul>
</div>

<div id="filter">
	<h2>How can I filter my search results?</h2>
  <ul>
    <li>Once your results have been returned, you can use the filter pane on the right side of the page to further limit and customize search results.</li>
    <li>You may use the filter pane to filter by record type, subject name or language (of material).</li>
    <li>You may also use the search bar at the top of the filter pane to create additional searches within the search results.</li>
  </ul>
</div>

<div id="navigate">
	<h2>How do I navigate this website?</h2>
    <p>To begin a search, use the search bar on the home page.</p>
    <p>To see a full alphabetical list of collections, click the collections tab.</p>
    <p>To see a full alphabetical list of subjects, click the subjects tab.</p>
    <p>To see a full alphabetical list of names, click the names tab.</p>
    <p>For help and FAQs, click the help tab.</p>
    <p>You can return to the home page at any time by selecting the home tab.</p>
</div>

<div id="coverage">
	<h2>Does this website include all the materials of the University of Amsterdam? What if I cannot find what I am looking for?</h2>
  <p>This website does not include all the collection materials of the University of Amsterdam. Some collections and archives have not been processed yet, and there is therefore no online finding aid available. Please contact us if you want to use unprocessed materials or if you are unable to find a finding aid, but have reason to think we may hold the materials you are looking for. </p>
<p>Other materials of the University of Amsterdam can be found in:</p> 
  <ul>
    <li>The catalogue of the University Library: <a href="https://lib.uva.nl/primo-explore/search?vid=UVA&sortby=rank">CataloguePlus</a>. This website gives access to books, manuscripts, maps, prints, paintings, (electronic) journals, databases, e.g.</li>
    <li>The catalogue of the former <a href="https://tin.nl">Theater Instituut Nederland</a> (TIN). This website gives access to the Dutch theatre collections.</li>
  </ul>
</div>

<div id="glossary">
	<h2>Glossary of terms and symbols</h2>
  <p><strong>Archives</strong> are materials created or received by a person, family, or organization in the conduct of their affairs and preserved because of the enduring value of the information they contain or as evidence of the functions and responsibilities of their creator.</p>
  <p><strong>Collections</strong> are groups of materials assembled by a person, family, organization, or repository. They can be divided hierarchically into series, groupings, and files.</p>
  <p><strong>Digital records</strong> are born-digital and digitized materials that are available online.</p>
  <p><strong>Finding aids</strong> allow users to discover, understand, and access the materials. Finding aids describe the creation, arrangement, content, and context of collections and archives. Most finding aids on this website contain descriptions on collection-level (also known as fonds-level). These descriptions give you the most general overview of the collection or archive. You can find this in the <strong>Collection Overview</strong>. Click <strong>Expand all</strong> to see the whole collection overview. 
Some finding aids on this website will also contain a hierarchical structure with item-level descriptions. Click <strong>Finding Aid View</strong> to scroll through the items.
</p>
  <p><strong>Name records</strong> are the people, families, and organizations that create collections or archives. On this website, users can view name records to see all of the materials created by a person, family, or organization.</p>
  <p><strong>Subject records</strong> are topics, places, and genres used to describe the context and content of the materials. On this website, users can view a subject record to see all of the collections and archives relating to that topic, place, or genre.</p>
<%#= how should these sections be marked up in HTML? %>
<br/>
  <p>
      <img src="assets/images/request.png" alt="Request icon"/>
      <br/>
  Use the <strong>Request</strong> button to place a request for the selected material. For more information about requesting material, see the requesting materials section above.</p>
<br/>
  <p>
      <img src="assets/images/citation.png" alt="Preferred citation"/>
      <br/>
    Use the <strong>Citation</strong> button to generate a formatted citation for the material you are viewing. Citations can be generated at all levels of a finding aid, including at the series, file or item level of the collection inventory.</p>
<br/>
  <p>
      <img src="assets/images/pdf.png" alt="Download PDF icon"/>
      <br/>
  Use the <strong>PDF Finding Aid</strong> button to access a fully formatted PDF of a finding aid.</p>
</div>

<div id="questions">
  <h2>What if I have questions? Where should I go for help?</h2>
  <p>If you have questions about a finding aid, please use the <strong>Ask a Question</strong> button in the upper right corner of the finding aid. Please consult the help page to see if your question has already been answered before asking a question.</p>
  <p>If you have a general question, you are welcome to submit it here:<br/><br/>
    <a class="btn btn-default page_action" title="Ask a Question"  onclick="window.open('https://')">
                <img src="assets/images/question.png" alt="Ask a question"/>
     </a>
  </p>
  <h2><a href="#manual" class="underline">For more information download the Instruction manual (English) / Handleiding (Nederlands) at the top of this page.</a></h2>
</div>
