body {
  background: #FFF repeat top left;
  background-size: auto;
}
#tabs .navbar-default {
  background-color: #FFF;
  border-color: #FFF;
}
#header > .row {
  height: inherit !important;
  border-bottom: 0.25rem solid #ccc !important;
}
.search {
  padding: 1rem;
  border: 1px dotted #ccc;
}
.search > h3 {
  display: none;
}
.footer {
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px dotted #ccc;
}
.footer .address {
  margin-left: 0em;
  padding-left: 0em;
  margin-top: 1em;
}
.footer .profile {
  margin-top: 1em;
  text-align: left;
}
.footer .profile img {
  float: left;
  margin-right: 0.5em;
  border-radius: 10%;
}
.footer .links {
  text-align: right;
}

header {
  background-color: #FFF;
}
#header {
  background-color: #FFF;
}

#navigation .top-bar {
  background-color: #333 !important;
}

#navigation .top-bar a {
  color: #FFF !important;
}

.footer .address {
  list-style-type: none;
  float: left;
  text-align: left;
}

.about {
  margin-top: 0px;
  margin-left: 0em;
  padding-left: 0em;
  border-left: 1px solid #ccc;
}

.breadcrumb>li+li:before {
  content: "\007C\00a0" !important;
}
