.readmore.expanded .more {
  visibility: visible;
  display: inline;
}

a {
  color: #337ab7;
}

.search > h3 {
  color: #05538a;
  display: block;
}
.header-logo {
  max-width: 400px !important;
  padding: 1rem;
}
