body {
  background: #FFF repeat top left;
  background-size: auto;
}

header img {
  margin-top: 2em;
  margin-bottom: 2em;
}

header + .content-pane { margin-top: ; }

header { background-color: #FFF }

/* remove staff ui inset appearance of header */
body > div.container-fluid:first-child {
  padding-left: 0px;
  padding-right: 0px;
}
