<%= form_tag app_prefix("/ark"), :id => 'ark_sub' do |f| %>
  <button type="submit" class="btn page_action request  btn-default">
    <i class="fa fa-link fa-3x"></i><br/>
    Direct Link 
  </button>
<% end %>
