<%# hgom, Allard Pierson footer %>
<div class="panel-footer container-fluid">
  <div class="row">
    <div class="col-sm-3">
     <a href="https://allardpierson.nl/en" target="_blank">Website Allard Pierson</a><br/>
     <a href="https://uba.uva.nl/en/home" target="_blank">Website Library of the University of Amsterdam
    </div>
    <div class="col-sm-3">
     <a href="https://lib.uva.nl" target="_blank">CataloguePlus</a><br/>
     <a href="https://www.uvaerfgoed.nl" target="_blank">Image Bank Allard Pierson</a>
    </div>
    <div class="col-sm-3">
      <p><a href="https://allardpierson.nl/en/research/house-rules/">House rules of Allard Pierson</a></p>
      <p><a href="https://allardpierson.nl/en/research/reproductions/">Reproduction of Allard Pierson material</a></p>
    </div>
    <div class="col-sm-3">
      <!--<div style="padding-left: 50%; text-align: left">-->
      Oude Turfmarkt 127-129
      <br>1012 GC Amsterdam
      <br>
      <a href="https://allardpierson.nl/en/contact-us" target="_blank"><span style="font-weight:bold">Contact</span></a>
      </div>
    </div>
  </div>
</div>
<%# google analytics GA4 %>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-40NH3VTK70"></script>
<script>
  if (location.href.match(/archives\.uba\.uva\.nl/)){
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-40NH3VTK70', { 'anonymize_ip': true });
  }
</script>
