<section id="header">
  <div class="row">
    <div class="col-sm-12 h1">
        <% unless request.original_fullpath == '/' %>
          <a href="<%= AppConfig[:public_proxy_url] %>">
        <% end %>
        <img src="<%= asset_path(AppConfig[:pui_branding_img]) %>" alt="<%= AppConfig[:pui_branding_img_alt_text] %>" />
        <% unless request.original_fullpath == '/' %>
          </a>
        <% end %>
    </div>
  </div>
</section>
