<%# shared modal(s) %>
<% if @result.respond_to?(:cite) && @result.cite_item && @result.cite_item_description %>
  <% modal_body = render partial: 'cite/modal_body', locals: {:item => @result.cite_item, :description => @result.cite_item_description} %>
  <%= render partial: 'shared/modal', locals: {:modal_id => 'cite_modal', :title => t('actions.cite'), :modal_body => modal_body} %>
<script type ="text/javascript" >setupCite()</script>
<% end %>
  <% modal_body = render partial: 'ark/modal_body', locals: {} %>
  <%= render partial: 'shared/modal', locals: {:modal_id => 'ark_modal', :title => 'Persistent URL', :modal_body => modal_body} %>
  <script type ="text/javascript" >
    $('#ark_sub').submit(function () {
    new Clipboard('.clip-btn');
    $('#ark_modal').modal('show');
    return false;
  });
  </script>
<% if defined?(@request) && !@request.nil? %>
   <% req = render partial: 'shared/request_form' %>
  <%= render partial: 'shared/modal', locals: {:modal_id => 'request_modal', :title => t('actions.request'),
      :modal_body => req } %>
<script type ="text/javascript" >setupRequest("request_modal",  "<%= t('actions.request') %>")</script>
<% end %>
