<% (level - 1).times do |previous_level| %>
    <div class="print-record-border level-<%= previous_level + 1 %>">
<% end %>

<%
format_container = lambda do |type, indicator|
    if type
        type = type.capitalize
    end

    [type, indicator].compact.join(' ')
end
%>

<div class="avoid-break">
    <div class="print-record-border print-record level-<%= level %>">
	<p><span style="font-weight:bold;"><%= record.direct_component_id %></span><span style="padding-left:5px"><a class="record-title" id="<%= record.uri %>"><%== record.display_string %>.</a></span>
        	<% record.extents.each do |extent| %>
		    <% next if extent['_inherited'] %>
		    <span><%= extent['display'] %></span>
	    	<% end %>
	</p>
	<% record.notes.each do |note_type, note| %>
        	<% note.each do |n| %>
	    		<% next if n['is_inherited'] %>
            		<p style="font-size: 80%; padding-left: 10px;"><%== process_mixed_content(n['note_text']) %></p>
        	<% end %>
        <% end %>
    </div>
</div>
<% (level - 1).times do |previous_level| %>
    </div>
<% end %>
