<div class="toc-page">
    <h3><%= I18n.t('pdf_reports.table_of_contents') %></h3>

    <ul class="toc">
        <li class="level-1"><a href="#summary-information"><%= I18n.t('pdf_reports.summary_information') %></a></li>

        <% resource.notes.each do |note_type, note| %>
            <% next unless ['physdesc'].include?(note_type) %>
            <li class="level-1"><a href="#administrative-information"><%= I18n.t("enumerations._note_types.#{note_type}") %></a></li>
        <% end %>

        <% resource.notes.each do |note_type, note| %>
            <% next if ['physdesc'].include?(note_type) %>
            <li class="level-1">
                <a href="#note-<%= note_type %>">
                  <% labels = [] %>
                  <% note.each do |n| %>
                    <% if n['label'] %>
                        <% labels << n['label'] %>
                    <% else %>
                        <% labels <<  I18n.t("enumerations._note_types.#{note_type}") %>
                    <% end %>
                  <% end %>
                  <%== process_mixed_content(labels.uniq.join(", ")) %>
                </a>
            </li>
        <% end %>

	<li class="level-1"><a href="#subjects">Subjects</a></li>

        <% if has_children %>
            <li class="level-1"><a href="#collection-inventory"><%= I18n.t('pdf_reports.collection_inventory') %></a></li>
        <% end %>

        <% ordered_aos.each do |entry| %>
            <li class="level-<%= entry.depth + 1 %>"><a href="#<%= entry.uri %>"><%== process_mixed_content(entry.display_string) %></a></li>
        <% end %>

    </ul>
</div>
